.box {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
      }
      .box>* {
          flex: 0 0 19.9999%;
          height: 250px;

      }
.book-picture-container{
  height: 60%;


}
.book-information-container{
  height: 39%;


}