.box {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
      }
      .box>* {
          flex: 0 0 19.9999%;
          height: 250px;

      }
.book-picture-container{
  height: 60%;


}
.book-information-container{
  height: 39%;


}
.book-information-container div{
  width: 105px;
}
.single-book-image{
  height: 430px; max-width:250px;
}
.book-new{

  position:absolute;
  top:0;
  left:0;
}
.book-discount{

  position:absolute;
  top:0;
  right:0;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .fit-image{
      width: 100%;
      object-fit: cover;
      height: 100%; /* only if you want fixed height */
    }



.form-control-borderless {
    border: none;
}

/* star system */
/* Rating Star Widgets Style */





